.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.listContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

@media (min-width: 1024px) {
	.App {
		text-align: center;
		overflow: hidden;
	}
}
